:root {
  /* COLOR */
  --experimental-gold-loans: rgb(218, 100, 99);
  --background-disabled: rgb(250, 250, 250);
  --background-forever-dark: rgb(0, 0, 0);
  --background-forever-light: rgb(255, 255, 255);
  --background-primary: rgb(255, 255, 255);
  --background-secondary: rgb(250, 250, 250);
  --background-teritiary: rgb(242, 242, 242);
  --background-32-black: rgba(0, 0, 0, 0.32);
  --background-32-white: rgba(255, 255, 255, 0.32);
  --background-8-black: rgba(0, 0, 0, 0.08);
  --background-8-white: rgba(255, 255, 255, 0.08);
  --background-92-white: rgba(255, 255, 255, 0.92);
  --background-alternate-negative: rgb(208, 36, 60);
  --background-alternate-positive: rgb(93, 165, 19);
  --background-information: rgb(61, 190, 247);
  --background-negative: rgb(255, 119, 102);
  --background-orange-disabled: rgb(251, 221, 209);
  --background-orange-primary: rgb(234, 85, 24);
  --background-orange-secondary: rgb(242, 153, 116);
  --background-orange-teritiary: rgb(253, 238, 232);
  --background-positive: rgb(160, 217, 77);
  --background-progress: rgb(251, 196, 65);
  --border-black: rgb(0, 0, 0);
  --border-disabled: rgb(217, 217, 217);
  --border-orange: rgb(238, 119, 70);
  --border-primary: rgb(36, 36, 36);
  --border-secondary: rgb(145, 145, 145);
  --border-transparent: rgba(0, 0, 0, 0.12);
  --border-information: rgb(61, 190, 247);
  --border-negative: rgb(247, 105, 100);
  --border-positive: rgb(160, 217, 77);
  --border-progress: rgb(251, 196, 65);
  --primitives-black: rgb(0, 0, 0);
  --primitives-blues-blue-100: rgb(230, 245, 254);
  --primitives-blues-blue-200: rgb(179, 224, 251);
  --primitives-blues-blue-300: rgb(128, 204, 249);
  --primitives-blues-blue-400: rgb(77, 184, 246);
  --primitives-blues-blue-500: rgb(0, 153, 242);
  --primitives-blues-blue-600: rgb(0, 118, 208);
  --primitives-greens-green-100: rgb(241, 249, 232);
  --primitives-greens-green-200: rgb(214, 236, 187);
  --primitives-greens-green-300: rgb(187, 224, 141);
  --primitives-greens-green-400: rgb(159, 212, 95);
  --primitives-greens-green-500: rgb(118, 193, 27);
  --primitives-greens-green-600: rgb(93, 165, 19);
  --primitives-greys-grey-100: rgb(250, 250, 250);
  --primitives-greys-grey-200: rgb(242, 242, 242);
  --primitives-greys-grey-300: rgb(217, 217, 217);
  --primitives-greys-grey-400: rgb(179, 179, 179);
  --primitives-greys-grey-500: rgb(145, 145, 145);
  --primitives-greys-grey-600: rgb(102, 102, 102);
  --primitives-greys-grey-700: rgb(58, 58, 58);
  --primitives-greys-grey-800: rgb(36, 36, 36);
  --primitives-greys-grey-900: rgb(18, 18, 18);
  --primitives-primary-primary-100: rgb(251, 221, 209);
  --primitives-primary-primary-200: rgb(247, 187, 163);
  --primitives-primary-primary-300: rgb(242, 153, 116);
  --primitives-primary-primary-400: rgb(238, 119, 70);
  --primitives-primary-primary-50: rgb(253, 238, 232);
  --primitives-primary-primary-500: rgb(234, 85, 24);
  --primitives-primary-primary-600: rgb(215, 78, 22);
  --primitives-primary-primary-75: rgb(252, 230, 220);
  --primitives-reds-red-100: rgb(254, 235, 236);
  --primitives-reds-red-200: rgb(251, 194, 197);
  --primitives-reds-red-300: rgb(249, 153, 158);
  --primitives-reds-red-400: rgb(245, 91, 99);
  --primitives-reds-red-500: rgb(242, 50, 60);
  --primitives-reds-red-600: rgb(208, 36, 60);
  --primitives-type-type-100: rgb(187, 192, 201);
  --primitives-type-type-200: rgb(165, 171, 183);
  --primitives-type-type-300: rgb(143, 150, 165);
  --primitives-type-type-400: rgb(120, 129, 147);
  --primitives-type-type-500: rgb(97, 108, 129);
  --primitives-type-type-600: rgb(75, 87, 111);
  --primitives-type-type-700: rgb(52, 66, 93);
  --primitives-type-type-800: rgb(30, 45, 75);
  --primitives-type-type-900: rgb(16, 27, 49);
  --primitives-white: rgb(255, 255, 255);
  --primitives-yellows-yellow-100: rgb(254, 246, 230);
  --primitives-yellows-yellow-200: rgb(253, 229, 180);
  --primitives-yellows-yellow-300: rgb(252, 212, 130);
  --primitives-yellows-yellow-400: rgb(251, 194, 79);
  --primitives-yellows-yellow-500: rgb(249, 168, 4);
  --primitives-yellows-yellow-600: rgb(214, 137, 2);
  --spacer-dark: rgb(179, 179, 179);
  --spacer-light: rgb(217, 217, 217);
  --type-disabled: rgb(165, 171, 183);
  --type-primary: rgb(30, 45, 75);
  --type-teritiary: rgb(120, 129, 147);
  --type-orange-disabled: rgb(251, 221, 209);
  --type-orange-primary: rgb(234, 85, 24);
  --type-orange-secondary: rgb(242, 153, 116);
  --type-information: rgb(0, 118, 208);
  --type-inverse-primary: rgb(255, 255, 255);
  --type-inverse-secondary: rgba(255, 255, 255, 0.8);
  --type-inverse-teritiary: rgba(255, 255, 255, 0.6);
  --type-negative: rgb(208, 36, 60);
  --type-positive: rgb(93, 165, 19);
  --type-progress: rgb(214, 137, 2);
  --type-secondary: rgb(75, 87, 111);
}
